/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #111;
  background-color: #fff;
  line-height: 1.6;
}

a {
  color: #0d6efd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  max-width: 750px;
  margin: 0 auto;
  padding: 2rem;
}

header, footer {
  text-align: center;
  margin-bottom: 2rem;
}

h1, h2, h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}
