---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thomas L. | About</title>
  </head>
  <body>
    <Header />
    <main>
      <h2>About page</h2>
        <p>I am currently a Technical Product Owner doing some consulting</p>
        <p> I have been working in various environments for very different clients in different fields in the past 4 years
            and have been developping a strong interest for AI in general (especially governance and ethics aspects) as well as Greeen IT.
        </p>
    </main>
    <Footer />
  </body>
</html>
