---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thomas LFB | Portfolio</title>
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
    <Header />

    <main>
      <h2>Hello, I'm Thomas.</h2>
      <p>
        I help build products, bridge tech and business, and create impact in Green Tech and digital transformation.
      </p>
      <p>
        I have experience as a Product Owner, Business Analyst, and developer. I also craft small dev projects and pursue photography on the side.
      </p>
      <p>
        Explore my work and projects below.
      </p>
    </main>

    <Footer />
  </body>
</html>
